body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.home__display {
  display: grid;
  grid-template-areas: 'header header' 'sidenav content';
  grid-template-columns: 300px auto;
}

.category__list {
  background-color: blue;
  grid-area: sidenav;
  height: 100vh;
  margin-right: 50px;
  width: 300px;
}

.home__content {
  grid-area: content;
  padding: 0 20px;
}

header {
  background-color: red;
  grid-area: header;
  height: 70px;
}

.product__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.product__list div {
  background-color: green;
}
