body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.home__display {
  display: grid;
  grid-template-areas: 'sidenav content';
  grid-template-columns: 300px auto;
}

.category__list {
  background-color: blue;
  grid-area: sidenav;
  height: 100vh;
  margin-right: 50px;
  width: 300px;
}

.home__content {
  grid-area: content;
  padding-left: 20px;
}
